<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>OnlineInsure</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/_header.css" type="text/css">
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>

    <body>
        <div class="navcontainer gradient-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container mt-2">
                    <a class="navbar-brand text-white" href="#">OnlineInsure Payroll System</a>
                    <button class="navbar-toggler navbar-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="images/icons/svg/navicon.svg" alt style="height: 25px;"/>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto" style="column-gap: 30px">
                            <li class="nav-item active">
                                <a class="nav-link text-white" href="/home">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    SalesRep
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">SalesRep Profile</a>
                                    <a class="dropdown-item" href="#">Add SalesRep Profile</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Create Payroll</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">PDFs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container py-3 my-3">
                <div class="row justify-content-end">
                    <a href="#" class="nav-link text-white">Logout</a>
                </div>
            </div>
        </div>
        <div class="container">
    </body>
</html>